body[data-theme="dark"] {
    --font-color: #dfdfdf;
    --background-color: #121212;

    --header-logo-font-color: #d8d8d8;
    --header-background-color: #272727;
    --header-link-color: #757575;
    --header-link-active-color: #d8d8d8;
    --header-link-hover-color:  #999999;
}