body[data-theme=""] {
    --font-color: black;
    --background-color: white;

    --header-logo-font-color: #363636;
    --header-background-color: white;
    --header-link-color: #7a7a7a;
    --header-link-active-color: #242424;
    --header-link-hover-color: #7a7a7a;
    --header-link-hover-background-color: #fafafa;
}