@font-face {
	font-family: 'Coves';
	src: url('../fonts/coves_bold-webfont.woff2') format('woff2'), url('../fonts/coves_bold-webfont.woff') format('woff'), url('../fonts/coves_light-webfont.woff2') format('woff2'), url('../fonts/coves_light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	_-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
    
	_filter: grayscale(100%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-size: cover;
	background-attachment: fixed;
	font: normal normal normal 14px Coves;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
/* Profile side pane */
#profile {
	width: 18vw;
	background-color: rgba(255,255,255,.75);
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0 1vw;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
}
#profile:hover {
	background-color: whitesmoke;
}
#profile img {
	border-radius: 50%;
	content: url(../images/profilepic.jpg);
	width: 100%;
	margin: 5vh auto;
}
#profile > span {
	font-size: 5vw;
	font-weight: bold;
	line-height: 2.5vh;
}
#profile > span > span {
	font-size: 1.3vw;
	font-weight: normal;
	display: block;
	text-indent: 4vw;
	color: grey;
}
#profile div {
	margin-top: 5vh;
}
#profile div span {
	margin: 0.5vh auto;
	display: block;
	text-rendering: auto;
	color: grey !important;
}
#profile div span a {
	word-wrap: break-word;
	font-size: 1.2em;
	color: grey;
	opacity: 0.6;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}
#profile div span a:hover {
	opacity: 1;
}
#profile div span a:before {
	background-size: cover;
	content: '';
	display: inline-block;
	width: 2em;
	height: 2em;
	vertical-align: middle;
	margin-right: 5px;
}
#profile div span a[href*=mailto]:before {
	background-image: url(../icons/mail-squircle.svg);
}
#profile div span a[href*=linkedin]:before {
	background-image: url(../icons/linkedin-squircle.svg);
}
#profile div span a[href*=facebook]:before {
	background-image: url(../icons/facebook-squircle.svg);
}
#profile div span a[href*=skype]:before {
	background-image: url(../icons/skype.svg);
}
#profile div span a[href*=github]:before {
	background-image: url(../icons/code-squircle.svg);
}
#profile div span a[href*=instagram]:before {
	background-image: url(../icons/instagram.svg);
}
/* Profile sections */

#sections {
	position: absolute;
	right: 0;
	bottom: 0;
}
#sections a span {
	display: block;
	text-align: right !important;
	font-size: 5vh;
	padding-left: 2vw;
	margin-left: 0.1vw;
	-webkit-clip-path: polygon(2vw 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(2vw 0, 100% 0%, 100% 100%, 0% 100%);
	text-transform: lowercase;
	font-weight: bold;
	color: white;
	padding-right: 1vw;
	margin-top: 2em;
	_-webkit-background-clip: text;
	_-webkit-text-fill-color: transparent;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	opacity: 0.5;
}
/*
a:hover, a:hover span {
    color: #9A1A4A;
}
*/

#sections a span:hover {
	opacity: 1;
	padding-right: 5vw;
}
#sections a:nth-child(1) span {
	background-color: #5EC0E9;
	margin-left: -15vw;
}
#sections a:nth-child(2) span {
	background-color: #C64534;
	margin-left: -20vw;
}
#sections a:nth-child(3) span {
	background-color: #FFD166;
	margin-left: -25vw;
}
#sections a:nth-child(4) span {
	background-color: #9AC447;
	margin-left: -30vw;
}
/* End profile sections*/

#cbp-bislideshow {
	filter: brightness(60%);
}
a:hover > #cbp-bislideshow {
	opacity: 0.5;
}
