@font-face {
	font-family: 'Coves';
	src: url('../fonts/coves_light-webfont.woff2') format('woff2'), url('../fonts/coves_light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Coves';
	src: url('../fonts/coves_bold-webfont.woff2') format('woff2'), url('../fonts/coves_bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
body {
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	_-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	_filter: grayscale(100%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-size: cover;
	background-attachment: fixed;
	font: normal normal normal 14px Coves;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
/* Profile side pane */

#profile {
	width: 18vw;
	background-color: rgba(255, 255, 255, .85);
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0 1vw;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}
#profile:hover {
	background-color: whitesmoke;
}
#profile img {
	border-radius: 50%;
	margin: 5vh auto;
	
	/* content: url(../images/profilepic.jpg);
	width: 100%; */
	
	background-image: url(../images/profilepic.jpg);
	background-size: cover;
	width: 18vw;
	height: 18vw;
}
/* Name */

#profile>span {
	font-size: 5vw;
	display: block;
	font-weight: bold;
	line-height: 2.5vh;
}
#profile>span>span {
	font-size: 1.3vw;
	font-weight: normal;
	display: inline-block;
	text-indent: 4vw;
	color: grey;
}
/* End name */

#profile div {
	margin-top: 5vh;
}
#profile div a {
	margin: 0.5vh auto;
	display: block;
	text-rendering: auto;
	color: grey !important;
}
#profile div a>span:before {
	background-size: cover;
	display: inline-block;
	content: "";
	width: 2em;
	height: 2em;
	vertical-align: middle;
}
#profile div a span span {
	margin-left: 5px;
}
#profile div a>span {
	word-wrap: break-word;
	font-size: 1.2em;
	color: grey;
	opacity: 0.6;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}
#profile div a span:hover {
	opacity: 1;
}
#profile div a[href*=mailto]>span:before {
	background-image: url(../icons/mail-squircle.svg);
}
#profile div a[href*=linkedin]>span:before {
	background-image: url(../icons/linkedin-squircle.svg);
}
#profile div a[href*=facebook]>span:before {
	background-image: url(../icons/facebook-squircle.svg);
}
#profile div a[href*=skype]>span:before {
	background-image: url(../icons/skype.svg);
}
#profile div a[href*=github]>span:before {
	background-image: url(../icons/code-squircle.svg);
}
#profile div a[href*=instagram]>span:before {
	background-image: url(../icons/instagram.svg);
}
#profile p {
	text-align: center;
}
#profile p a[href*=Resume] {
	border: 4px solid #555;
	color: #555;
	padding: 5px;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.5s;
	display: inline-block;
}
#profile p a[href*=Resume]:hover {
	opacity: 0.7;
}
/* Profile sections */

#sections {
	position: absolute;
	right: 0;
	bottom: 0;
}
#sections a span {
	display: block;
	text-align: right !important;
	font-size: 5vh;
	padding-left: 2vw;
	margin-left: 0.1vw;
	-webkit-clip-path: polygon(2vw 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(2vw 0, 100% 0%, 100% 100%, 0% 100%);
	text-transform: lowercase;
	font-weight: bold;
	color: white;
	padding-right: 1vw;
	margin-top: 2em;
	_-webkit-background-clip: text;
	_-webkit-text-fill-color: transparent;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	opacity: 0.5;
}
#sections a span:hover {
	opacity: 1;
	/* padding-right: 5vw; */
}
#sections a:nth-child(1) span {
	background-color: #5EC0E9;
	margin-left: -15vw;
}
#sections a:nth-child(2) span {
	background-color: #C64534;
	margin-left: -20vw;
}
#sections a:nth-child(3) span {
	background-color: #FFD166;
	margin-left: -25vw;
}
#sections a:nth-child(4) span {
	background-color: #9AC447;
	margin-left: -30vw;
}
/* End profile sections */

@media screen and (orientation: portrait) {
	#profile div a span span {
		text-indent: -10000px;
		position: absolute;
	}
	#profile div a {
		text-align: center;
	}
	#profile p a[href*=Resume] {
		font-size: 1em;
	}
	#profile>span {
		text-align: center;
		font-size: 1.5em;
	}
	#profile>span>span {
		display: none
	}
}
#cbp-bislideshow {
	filter: brightness(60%);
}
a:hover>#cbp-bislideshow {
	opacity: 0.5;
}