@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

@font-face {
  font-family: 'Coves';
  src: url('/assets/fonts/coves_light-webfont.woff2') format('woff2'),
    url('/assets/fonts/coves_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coves';
  src: url('/assets/fonts/coves_bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/coves_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
