@import 'theme';
@import 'font';

body {
  color: var(--font-color);
  background-color: var(--background-color);

  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--font-color);
}
